@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.footer-content {
    display: flex;
    margin: 50px 10%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #1c1c1e;
    border-radius: 15px;
    padding: 40px 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.footer-content .heading {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 10px;
    
    line-height: 3.5rem;
    font-family: 'Borel', cursive;
}

.footer-content p {
    max-width: 800px;
    margin: 10px auto;
    line-height: 1.8;
    font-size: 1rem;
    color: #e0e0e0;
    font-family: 'Arial', cursive;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.socials a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    transition: transform 0.3s, color 0.3s;
}

.socials a:hover {
    transform: scale(1.2);
    color: #44bae8;
}

.footer-bottom {
    background: #1c1c1e;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid #333;
}

.footer-bottom p {
    font-size: 0.9rem;
    color: #bbbbbb;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 1rem;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: 300;
}
